{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Activate Fubo TV in minutes with fubo.tv/connect. Works on Roku, Firestick, Apple TV, and Smart TVs. No tech skills needed.">
    <meta name="keywords" content="fubo.tv/connect, activate fubo tv, fubo tv code, smart tv fubo activation, fubo connect roku, firestick fubo tv setup">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
